! dwm
dwm.normbordercolor: #262626
dwm.normbgcolor:     #262626
dwm.normfgcolor:     #9e9e9e
dwm.selbordercolor:  #b29a71
dwm.selbgcolor:      #b29a71
dwm.selfgcolor:      #262626

! dmenu
! dmenu.normfgcolor:   #9e9e9e
! dmenu.normbgcolor:   #262626
! dmenu.selfgcolor:    #b9b9b9
! dmenu.selbgcolor:    #303030
! dmenu.outfgcolor:    #ce8c84
! dmenu.outbgcolor:    #303030
! dmenu.normhlfgcolor: #b78380
! dmenu.normhlbgcolor: #262626
! dmenu.selhlfgcolor:  #85b785
! dmenu.selhlbgcolor:  #303030

! dmenu
dmenu.normfgcolor:   #777777
dmenu.normbgcolor:   #262626
dmenu.selfgcolor:    #262626
dmenu.selbgcolor:    #b29a71
dmenu.outfgcolor:    #262626
dmenu.outbgcolor:    #b29a71
dmenu.normhlfgcolor: #b29a71
dmenu.normhlbgcolor: #262626
dmenu.selhlfgcolor:  #262626
dmenu.selhlbgcolor:  #b29a71

! st
st.color0:      #262626
st.color1:      #b78380
st.color2:      #85b785
st.color3:      #b6bd80
st.color4:      #7694b4
st.color5:      #897cb8
st.color6:      #83b4bd
st.color7:      #9e9e9e
st.color8:      #5e5e5e
st.color9:      #ce8c84
st.color10:     #92c592
st.color11:     #c4cb8d
st.color12:     #83a1c1
st.color13:     #9789c6
st.color14:     #91c1ca
st.color15:     #b9b9b9
st.background:  #262626
st.foreground:  #9e9e9e
st.cursorColor: #9e9e9e

! slock
slock.color0: #000000
slock.color1: #b78380
slock.color3: #b6bd80
slock.color4: #7694b4

